<%- include('templates/header', {authenticated: authenticated}) %>

<main>
    <div class="row g-5">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Información personal</h4>
            <form class="needs-validation" novalidate method="POST" action="/applicants/create" enctype="multipart/form-data">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="lastName" class="form-label">Primer apellido</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-12">
                        <label for="secondLastName" class="form-label">Segundo apellido</label>
                        <input type="text" class="form-control" id="secondLastName" name="secondLastName" placeholder="" value="">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-12">
                        <label for="firstName" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" required>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-12">
                        <label for="dob" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="dob" name="dob" placeholder="" required max="2024-12-31" min="1924-01-01">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-12">
                        <label for="gender" class="form-label">Género</label>
                        <select class="form-control" id="gender" name="gender" required>
                            <option value="">Seleccionar ...</option>
                            <% for (const code in genders) { %>
                            <option value="<%= code %>"><%= genders[code] %></option>
                            <% } %>
                            <hr />
                            <option value="NE"><%= states.NE %></option>
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-12">
                        <label for="state" class="form-label">Estado de nacimiento</label>
                        <select class="form-control" id="state" name="state" required>
                            <option value="">Seleccionar ...</option>
                            <% for (const code in states) {
                                if (code != 'NE') { %>
                            <option value="<%= code %>"><%= states[code] %></option>
                            <%
                                }
                            } %>
                            <hr />
                            <option value="NE"><%= states.NE %></option>
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>

                <hr class="my-4">

                <div class="row gy-3">
                    <div class="col-md-4">
                        <button class="w-100 btn btn-info js-generate" type="button">Generar CURP</button>
                    </div>

                    <div class="col-md-8">
                        <input type="text" class="form-control" id="curp" name="curp" placeholder="" required>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>

                <hr class="my-4">

                <h4 class="mb-3">Comprobante</h4>

                <div class="row gy-3">
                    <div class="col-md-6">
                    <label for="voucher" class="form-label">Comprobante de pago</label>
                    <input type="file" class="form-control" id="voucher" name="voucher" required>
                    <small class="text-muted">Archivo de imagen: png, jpg, jpeg, bmp o gif.</small>
                    <div class="invalid-feedback"></div>
                    </div>
                </div>

                <hr class="my-4">

                <div class="text-end">
                    <div class="d-inline-flex gap-2 mb-5">
                        <button class="d-inline-flex align-items-center btn btn-outline-secondary btn-lg px-4" type="reset">Limpiar</button>
                        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4" type="submit">Guardar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</main>

<%- include('templates/footer', {viewScript: 'applicants'}) %>
